                                                                c dz 2000-04-15
                        M a t h e m a t i c o                                  
                                                 20
                                                   
                 +-----+-----+-----+-----+-----+   
                 |     |     |     |     |     |   
                 | 7   | 4   | 5   |12   | 3   |  0
                 +-----+-----+-----+-----+-----+   
                 |     |     |     |     |     |                next card:
                 | 6   | 7   | 4   |10   | 1   |  0                       
                 +-----+-----+-----+-----+-----+                   11     
                 |     |     |     |     |     |                     
                 | 3   | 9   | 7   |12   |11   |  0                  
                 +-----+-----+-----+-----+-----+   
                 |     |     |     |     |     |   
                 |12   | 4   | 3   | 8   |11   |  0		total
                 +-----+-----+-----+-----+-----+   
                 |     |     |     |     |     |   		   1234
                 |10   |10   |11   | 2   |11   | 10
                 +-----+-----+-----+-----+-----+   
                    0    10     0    10    10      
                                                 50
